/*.carousel .carousel-item>img {
    width: 40%;
    height: 40%;
}*/
.carousel .carousel-item>img{
	height: 20vh;
	width: 20vh;
}

div.carousel.carousel-slider.center.initialized{
	min-height: 50vh;
	margin-top: 12vh;
}
.btn, .btn-large{
	width: 80%;
	margin-left: 10%;
	background-color: #fbd43b;
}
.btn:hover{
	background-color: #fbd43b;
}
.carousel .indicators .indicator-item.active {
    background-color: red;
}
